@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-sans: var(--font-orbitron);
  --background: #000000;
  --foreground: #ffffff;
  --border: rgba(255, 255, 255, 0.1);
  --ring: rgba(255, 255, 255, 0.5);
}

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }
  
  body {
    background-color: black;
    color: white;
  }
}
